.button {
	border-radius: 2px;
	width: 120px;
	height: 30px;
	background-color: #ECEBEB;
	color: #575757;
	position: relative;
	font-size: .70em;
	font-family: Arial;
	text-align: center;
	font-weight: bold;
	margin: 0px 5px 5px 5px;
	border: 1px solid #CAC9C9;
}

.button:hover {
	border: 1px solid #A6A6A6;
	cursor: pointer;
}

#header {
	width: 100%;
	background-color: white;
	color: #a1a1a1;
	margin-bottom: -20px;
	border-bottom: 1px solid #f4f4f4;
	height: 55px;
}

#header ul li {
	list-style-type: none;
	font-family: Arial;
	font-size: .80em;
	font-weight: bold;
	display: inline-block;
}

#header ul li:hover {
	color: white;
	cursor: pointer;
}

#logo {
	float: left;
}

#logo img {
	width: 35px;
	float: left;
}

#search {
	width: 50%;
	float: left;
	margin-left: 240px;
	padding-top: 10px;
}

.searchBox {
	width: 120%;
	height: 25px;
	border-radius: 8px;
	padding: 10px;
	background: #e9e9e9;
	margin: -190px;
	border: 0px;
}

#nav-buttons {
	float: right;
	margin-top: 2px;
	margin-right: 20px;
}

#nav-buttons a {
	color: #bababa;
	text-decoration: none;
	font-size: 1.9em;
	margin-left: 30px;
}

#wrapper {
	width: 90%;
	max-width: 1100px;
	min-width: 800px;
	margin: 50px auto;
}

#columns {
	-webkit-column-count: 3;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;
	-moz-column-count: 3;
	-moz-column-gap: 10px;
	-moz-column-fill: auto;
	column-count: 3;
	column-gap: 15px;
	column-fill: auto;
}

.pin {
	display: inline-block;
	background: #FEFEFE;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding: 15px;
	padding-bottom: 5px;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;
	
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

.pin img {
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

.pin p {
	font: 12px/18px Arial, sans-serif;
	color: #333;
	margin: 0;
}

.pin:hover {
	border-radius: 20px;
	cursor: pointer;
}

::-webkit-input-placeholder {
   font-size: 1.5em;
   line-height: 15px;
}

:-moz-placeholder { /* Firefox 18- */
   font-size: 1.2em;
   line-height: 15px;
}

::-moz-placeholder {  /* Firefox 19+ */
   font-size: 1.2em;
   line-height: 15px;
}

:-ms-input-placeholder {  
   font-size: 1.2em;
   line-height: 15px;
}